*{padding: 0%;margin: 0%;}
ul,li{list-style: none;}
a{list-style: none;}

.addhome_nav{width: 100%;height: 50px;display: flex;background: linear-gradient(to right,#F55E7E, #F47B87, #F58B7F);}
.addhome_nav_h2{line-height: 50px;margin-left: 29%;color: #ffffff;font-weight: normal;font-size: 25px;}
.addhome_label{font-size: 20px;margin-left: 10%;margin-top: 5%;color: #535252;}
.addhome_input{width: 210px;height: 35px;margin-top: 7%;margin-left: 2%;border:none;border-radius:10px;background-color:#F1F3F4;}
.addhome_input1{width: 210px;height: 35px;margin-top: 7%;margin-left: 2%;border:none;border-radius:10px;background-color:#F1F3F4;}
.addhome_input2{width: 210px;height: 35px;margin-top: 7%;border:none;border-radius:10px;background-color:#F1F3F4;}
.addhome_fieldset{width: 310px;height: 500px;border: 0.4px solid rgb(243, 152, 161);margin-left: 8%;margin-top: 5%;}
.tijiao{
    width:100%;
    height:50px;
    margin:2% 0% 0% 0%;
    /* text-align: center; */
  }
  .tijiao button{
    width:150px;
    height:40px;
    border-radius:15px;
    font-weight:lighter;
    background-color:#FC3554 ;
    border:none;
    color:#fff;
    font-size: 25px;
    margin-left: 28%;
  }