*{padding: 0%;margin: 0%;}
ul,li{list-style: none;}
a{list-style: none;}
body{
    background-color: #ffffff;
}
.set_nav{width: 100%;height: 50px;display: flex;background-color: #ff9645;}
.set_nav_h2{line-height: 50px;margin-left: 35%;color: #ffffff;}
.set_div{width:27px;height: 27px;background:url("./images/manage.png") no-repeat center/cover;}
.set_div1{width:27px;height: 27px;background:url("./images/right.png") no-repeat center/cover;margin-left: 50%;}
.set_div2{width:27px;height: 27px;background:url("./images/safe.png") no-repeat center/cover;}
.set_div3{width:27px;height: 27px;background:url("./images/message.png") no-repeat center/cover;}
.set_div4{width:27px;height: 27px;background:url("./images/clear.png") no-repeat center/cover;}
.set_div5{width:27px;height: 27px;background:url("./images/ico.png") no-repeat center/cover;}
.set_btn{width:180px;height: 50px;background-color: #ff9645;border: none;margin-left: 23%;margin-top: 25%;}
/* 退出登录按钮 */
.exit_login{
    width:70%;
    height:35px;
    margin:5% auto 0 auto;
    text-align: center;
  }
  .exit_login button{
    width:50%;
    height:35px;
    background: linear-gradient(to right,#FE8084, #FE8E90, #FE9695);
    border:none;
    border-radius: 17px;
    color:#fff;
  }