<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <div></div>
        <div>
            <form action="forget" method="post">
                <input type="text" autocomplete="off" placeholder="手机号" id="phone" name="phone"/>
                <br/>
                <input type="text" autocomplete="off" placeholder="验证码" id="code" name="code"/>
                <br/>
                <input type="text" autocomplete="off" placeholder="新密码" id="npwd" name="password"/>
                <br/>
                <button type="submit" id="forget"><span>提交</span></button>
            </form>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
</script>
</html>