<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <div></div>
        <div>
            <form action="house" method="post">
                <input type="text" autocomplete="off" placeholder="房主姓名" name="realname"/>
                <br/> 
                <input type="text" autocomplete="off" placeholder="手机号" name="phone"/>
                <br/> 
                <input type="text" autocomplete="off" placeholder="价格" name="price"/>
                <br/> 
                <input type="text" autocomplete="off" placeholder="城市" name="city"/>
                <br/>
                <input type="text" autocomplete="off" placeholder="小区" name="address"/>
                <br/> 
                <input type="text" autocomplete="off" placeholder="类型" name="type"/>
                <br/>
                <input type="text" autocomplete="off" placeholder="户型" name="hometype"/>
                <br/>
                <input type="text" autocomplete="off" placeholder="楼层" name="floor"/>
                <br/>
                <input type="text" autocomplete="off" placeholder="朝向" name="face"/>
                <br/>
                <input type="text" autocomplete="off" placeholder="电梯" name="lift"/>
                <br/>
                <input type="text" autocomplete="off" placeholder="WiFi" name="wifi"/>
                <br/>
                <input type="text" autocomplete="off" placeholder="供暖" name="heating"/>
                <br/>
                <input type="text" autocomplete="off" placeholder="空调" name="conditioner"/>
                <br/>
                <input type="text" autocomplete="off" placeholder="其他" name="homeimage"/>
                <br/>
                <button type="submit"><span>提交</span></button>
            </form>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
</script>
</html>