<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Document</title>
  </head>
  <body>
    <div>
      <a href="/api/user/login">登录</a>
      <a href="/api/user/reg">注册</a>
      <a href="/api/user/real">认证</a>
    </div>
    
  </body>
</html>
