<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <div></div>
        <div>
            <form action="trade" method="post">
                姓名<input type="text" autocomplete="off" placeholder="姓名" name="realname" id='realname'/>
                <br/>
                手机号<input type="text" autocomplete="off" placeholder="手机号" name="phone" id="phone"/>
                <br/>
                租期<input type="text" autocomplete="off" placeholder="租期" name="longtime" id="longtime"/>
                <br/>
                金额<input type="text" autocomplete="off" placeholder="金额" name="price" id="price"/>
                <br/>
                <button type="submit"><span>提交</span></button>
            </form>
        </div>
    </div>
</body>