*{
    padding: 0;
    margin: 0;
}

.rentHome_li1{
    padding-top: 3px;
    float: left;
    width: 24.4%;
    height: 30px;
    border-right:0.5px solid #dfdfdf;
    text-align: center;
    color: grey;
    margin: 0 auto;
    font-size: 18px;
    overflow: hidden;
}
.rentHome_li1:last-child{
    border-right:none;
}
.rentHome_box1{
    display: flex;
    margin-top:2%;
    border-bottom: 1px solid grey;
}
.rentHome_box2{
    float: left;
    
}
.rentHome_img1{
    width: 150px;
    height: 100px;
}
.rentHome_box4{
    float:left;
    /* word-break:hyphenate; */
    margin-left:2%;
    width:53%;
    height:100px;
    /* line-height: 20px; */
    
}
.rentHome_address{
    font-size: 17px;
    width: 100%;
    text-overflow: ellipsis;
    white-space:nowrap; 
    overflow: hidden;
}
.rentHome_span2{
    font-size: 13px;
    font-family: 宋体;
    color: grey;
    margin-top: 5px;
}

.rentHome_message{
    margin-top: 10px;
    display: flex;
}
.rentHome_message div{
    float: left;
    text-align: center;
    font-size: 14px;
}
.rentHome_message1{
    padding-top: 3px;
    width: 40px;
    height: 20px;
    background-color: #cfcfcf;
    color: #97dca5;
}
.rentHome_message2{
    padding-top: 3px;
    width: 50px;
    height: 20px;
    margin-left: 10px;
    background-color: #f3f8fb;
    color: #87aed9;
}
.rentHome_box5{
    margin-top:10px;
    display:flex;
}
.rentHome_price{
    font-size:17px;
    color:red;
}
.rentHome_span3{
    position:relative;
    right:-40%;
}
.rentHome_heart{
    width:20px;
    height:20px;
}

.message3{
    float: left;
    /* margin-top: 5px; */
    line-height: 20px;
    background-color: #f3faf3;
    color: #97dca5;
}
.message4{
    float: left;
    /* margin-top: 5px; */
    line-height: 20px;
    margin-left: 15px;
    background-color: #f3f8fb;
    color: #87aed9;
}
