*{padding: 0%;margin: 0%;}
ul,li{list-style: none;}
a{list-style: none;}
body{
    background-color: #ffffff;
}
.dream_p{font-size: 17px;text-overflow: ellipsis;white-space:nowrap; overflow: hidden;margin-top:7%;margin-left: 2%;color:#333333;}
.message3{float: left;line-height: 20px;background-color: #f3faf3;color: #97dca5}
.message4{float: left;/* margin-top: 5px; */line-height: 20px;margin-left: 15px;background-color: #f3f8fb;color: #87aed9;}