*{padding: 0%;margin: 0%;}
ul,li{list-style: none;}
a{list-style: none;}
body{
    background-color: #ffffff;
}
/* .home_box{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    overflow: hidden;
} */
.home_nav{
    width: 100%;
    height: 50px;
    display: flex;
    background: linear-gradient(to right,#F55E7E, #F47B87, #F58B7F);
}
#home_icon{color:#ffffff;line-height: 50px;font-size: 26px;margin-left: 2%;}
.home_select{width: 100%;height: 60%;margin-top: 10%;font-size: 20px;background:linear-gradient(to right,#F5617F, #F56A82, #F46F83);border: none;color: #ffffff}
.home_carousel{width: 100%;height: 200px;}
.home_input{height: 65%;background-color: #ffffff;border-radius: 15px;margin-top: 4%;font-size: 16px;background-image: url('../Home/images/search.png');background-repeat: no-repeat;background-size: 35px 35px;padding-left: 16%;color: #5a5858;}
.placeholder {height: 62px;width: 62px;margin:10px 0px 0px 10px;border-radius: 20px;}
.placeholder1 {height: 30px;width: 62px;margin:0px 0px 0px 10px;text-align: center;line-height: 30px;}
.home_banner{width: 100%;height: 40px;line-height: 40px;color: grey;background-color: #F5F7F9;}
.home_p{font-size: 17px;text-overflow: ellipsis;white-space:nowrap; overflow: hidden;margin-top:7%;margin-left: 2%;color:#333333;}
.placeholder_home{height: 30px;width: 50px;float: left;margin:2% 0% 0% 0%;background-color: #f3faf3;color: #97dca5;font-size: 14px;text-align: center;line-height:30px;}
.placeholder_home1{height: 30px;width: 50px;float: left;margin:2% 0% 0% 2%;background-color: #f3faf3;color: #87aed9;font-size: 14px;text-align: center;line-height:30px;}
.message3{float: left;line-height: 20px;background-color: #f3faf3;color: #97dca5}
.message4{float: left;/* margin-top: 5px; */line-height: 20px;margin-left: 15px;background-color: #f3f8fb;color: #87aed9;}


