.life_p{
    margin-top:10%;
    font-size:14
}
.life_li{
    display:inline-block;
    width:18%;
    text-align:center;
    margin-left:10%;
    height:30%;
    margin-top:5%
}
.life_img{
    width:95%
}
.life_div{
    width:100%;
    height:80%;
    border-radius:20px;
}