*{padding: 0%;margin: 0%;}
ul,li{list-style: none;}
a{list-style: none;}
body{background-color: #ffffff;}
.map_nav{width:100%;height:50px;display: flex;background: linear-gradient(to right,#F55E7E, #F47B87, #F58B7F);}
.map_nav_h2{line-height: 50px;margin-left: 29%;color:white;font-weight: normal;}