*{padding: 0%;margin: 0%;}
ul,li{list-style: none;}
a{list-style: none;}
body{
    background-color: #ffffff;
}
.my_banner{width: 100%;height:120px;background: url('./images/my_01.jpg') no-repeat center/cover;}
.my_placeholder{height: 40px;width: 117px;text-align: center;line-height: 40px;}
.my_placeholder1{height:20px;width: 117px;text-align: center;line-height:20px;}
.my_div{width:27px;height: 27px;background:url("./images/aboout.png") no-repeat center/cover;}
.my_div1{width:27px;height: 27px;background:url("./images/right.png") no-repeat center/cover;margin-left: 50%;}
.my_div2{width:27px;height: 27px;background:url("./images/advixe.png") no-repeat center/cover;}
.my_div3{width:27px;height: 27px;background:url("./images/idfify.png") no-repeat center/cover;}
.my_div4{width:27px;height: 27px;background:url("./images/set.png") no-repeat center/cover;}
.my_div5{width:27px;height: 27px;background:url("./images/right.png") no-repeat center/cover;margin-left: 61%;}
.my_div6{width:27px;height: 27px;background:url("./images/login.png") no-repeat center/cover;}
.my_div7{width:27px;height: 27px;background:url("./images/crete.png") no-repeat center/cover;}