input::-webkit-input-placeholder{
    color:#bbbbbb;
  
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#bbbbbb;

}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#bbbbbb;

}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
    color:#bbbbbb;

}
input{
    background:none;
    outline:none;
    border:0px;
    padding-left: 5px;
}
.b3{
    line-height: 5px;
}
.b3 span{
    font-size: 20px;
}
.button{
    background:none;
    outline:none;
    border:0px;
    /* margin-left: 50%; */
}
